<p id="notice"><%= notice %></p>

<h1>Logins</h1>

<table>
  <thead>
    <tr>
     
      <th>Ip address</th>
      <th>User agent</th>
      <th>Device</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @logins.each do |login| %>
      <tr>
       
        <td><%= login.ip_address %></td>
        <td><%= login.user_agent %></td>
        <td><%= login.device_id %></td>
        <td><%= link_to 'Show', login %></td>
        <td>
           <% if login.device_id == cookies[:device_id] %>
             Current session
           <% else %>
              <%# link_to "<i class='fa fa-remove'></i>".html_safe, login_path(login), method: :delete, remote: true, title: "Sign out", data: { confirm: "Are you sure you want to sign out from this device?" } %>
              <%# link_to 'Destroy', login, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Login', new_login_path %>
