<div class="nav-fold">
	<a href="#/app/page/profile" ui-sref="app.page.profile" >
    <span class="pull-right m-v-sm hidden-folded">
      <b class="label warn">9</b>
    </span>
    <span class="pull-left">
      <img src="/assets/images/a1.jpg" alt="..." class="w-40 img-circle">
    </span>
    <span class="clear hidden-folded p-x">
      <span class="block _500">Jack Perez</span>
      <small class="block text-muted">London, UK</small>
    </span>
  </a>
</div>
