<div class="nav-fold">
	<a href="#/app/page/profile" ui-sref="app.page.profile" >
    <span class="pull-left pos-rlt avatar">
      <img src="/assets/images/a3.jpg" alt="..." class="w-40 img-circle">
      <i class="away b-white top"></i>
    </span>
    <span class="clear hidden-folded p-x">
      <span class="block _500">Rose Martin</span>
      <small class="block text-muted">UX/UI designer</small>
    </span>
  </a>
</div>
