<!-- dropdown -->
<div class="dropdown-menu dropdown-menu-overlay pull-right w-xl animated fadeInUp no-bg no-border no-shadow">
    <div class="scrollable" style="max-height: 220px">
      <ul class="list-group list-group-gap m-0">
        <li class="list-group-item black lt box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="/assets/images/a0.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            Use awesome <a href class="text-primary">animate.css</a><br>
            <small class="text-muted">10 minutes ago</small>
          </span>
        </li>
        <li class="list-group-item black lt box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="/assets/images/a1.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            <a href class="text-primary">Joe</a> Added you as friend<br>
            <small class="text-muted">2 hours ago</small>
          </span>
        </li>
        <li class="list-group-item dark-white text-color box-shadow-z0 b">
          <span class="pull-left m-r">
            <img src="/assets/images/a2.jpg" alt="..." class="w-40 img-circle">
          </span>
          <span class="clear block">
            <a href class="text-primary">Danie</a> sent you a message<br>
            <small class="text-muted">1 day ago</small>
          </span>
        </li>
      </ul>
    </div>
</div>
<!-- / dropdown -->
